In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("organizations_processed.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 22 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   uuid                         1048575 non-null  object
 1   type                         1048575 non-null  object
 2   permalink                    1048574 non-null  object
 3   rank                         1048574 non-null  float64
 4   created_at                   1048575 non-null  object
 5   updated_at                   1048575 non-null  object
 6   roles                        1042323 non-null  object
 7   country_code                 873498 non-null   object
 8   state_code                   403948 non-null   object
 9   city                         873498 non-null   object
 10  status                       1048575 non-null  object
 11  category_list                983778 non-null   object
 12  category_groups_list         983778 non-null   object
 13  num_funding_rounds           180366 non-null   float64
 14  total_funding_usd            132051 non-null   float64
 15  total_funding                132051 non-null   float64
 16  total_funding_currency_code  132051 non-null   object
 17  founded_on                   810986 non-null   object
 18  last_funding_on              180327 non-null   object
 19  closed_on                    13985 non-null    object
 20  primary_role                 1048575 non-null  object
 21  num_exits                    16467 non-null    float64
dtypes: float64(5), object(17)
memory usage: 176.0+ MB

In [4]:
df['num_funding_rounds'] = df['num_funding_rounds'].fillna(0)
df['total_funding_usd'] = df['total_funding_usd'].fillna(0)
df['total_funding'] = df['total_funding'].fillna(0)

df['total_funding_currency_code'] = df['total_funding_currency_code'].fillna(-1)
df['last_funding_on'] = df['last_funding_on'].fillna(-1)
df['city'] = df['city'].fillna(-1)
df['primary_role'] = df['primary_role'].fillna(-1)
df['roles'] = df['roles'].fillna(-1)
df['num_exits'] = df['num_exits'].fillna(0)

df['country_code'] = df['country_code'].fillna(-1)
df['state_code'] = df['state_code'].fillna(-1)

df['category_groups_list'] = df['category_groups_list'].fillna("")
df['category_list'] = df['category_list'].fillna("")

df['founded_on'] = df['founded_on'].fillna(-1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 22 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   uuid                         1048575 non-null  object
 1   type                         1048575 non-null  object
 2   permalink                    1048574 non-null  object
 3   rank                         1048574 non-null  float64
 4   created_at                   1048575 non-null  object
 5   updated_at                   1048575 non-null  object
 6   roles                        1048575 non-null  object
 7   country_code                 1048575 non-null  object
 8   state_code                   1048575 non-null  object
 9   city                         1048575 non-null  object
 10  status                       1048575 non-null  object
 11  category_list                1048575 non-null  object
 12  category_groups_list         1048575 non-null  object
 13  num_funding_rounds           1048575 non-null  float64
 14  total_funding_usd            1048575 non-null  float64
 15  total_funding                1048575 non-null  float64
 16  total_funding_currency_code  1048575 non-null  object
 17  founded_on                   1048575 non-null  object
 18  last_funding_on              1048575 non-null  object
 19  closed_on                    13985 non-null    object
 20  primary_role                 1048575 non-null  object
 21  num_exits                    1048575 non-null  float64
dtypes: float64(5), object(17)
memory usage: 176.0+ MB

In [5]:
df.dropna(axis=1, how='any',inplace = True)
df

,uuid,type,created_at,updated_at,roles,country_code,state_code,city,status,category_list,category_groups_list,num_funding_rounds,total_funding_usd,total_funding,total_funding_currency_code,founded_on,last_funding_on,primary_role,num_exits
0,e1393508-30ea-8a36-3f96-dd3226033abd,organization,25/5/2007 13:51,24/6/2019 22:19,company,USA,NY,New York,acquired,"Publishing,Social Media,Social Media Management","Content and Publishing,Internet Services,Media...",3.0,3.975000e+07,3.975000e+07,USD,1/6/2005,19/5/2008,company,0.0
1,bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7,organization,26/5/2007 2:30,27/10/2018 0:29,"investor,company",USA,CA,Pleasanton,operating,"Cloud Computing,Collaboration,CRM,Developer To...","Administrative Services,Information Technology...",0.0,0.000000e+00,0.000000e+00,-1,15/9/1996,-1,company,1.0
2,5f2b40b8-d1b3-d323-d81a-b7a8e89553d0,organization,26/5/2007 3:03,10/12/2018 10:09,company,USA,NY,New York,acquired,"Internet,Social Media,Social Network","Internet Services,Media and Entertainment",6.0,4.900000e+07,4.900000e+07,USD,11/10/2004,13/9/2016,company,0.0
3,f4d5ab44-058b-298b-ea81-380e6e9a8eec,organization,26/5/2007 3:21,19/6/2019 12:17,investor,USA,CA,Redwood City,operating,"Enterprise Software,Financial Services,Venture...","Financial Services,Lending and Investments,Sof...",0.0,0.000000e+00,0.000000e+00,-1,1/1/2004,-1,investor,37.0
4,df662812-7f97-0b43-9d3e-12f64f504fbb,organization,26/5/2007 4:22,21/10/2020 13:53,"investor,company",USA,CA,Menlo Park,ipo,"Mobile Apps,Social,Social Media,Social Network...","Apps,Community and Lifestyle,Content and Publi...",17.0,1.612282e+10,1.612282e+10,USD,4/2/2004,17/10/2014,company,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,41105c7b-35ba-47ef-90ac-218beb506f37,organization,6/6/2020 2:01,6/6/2020 2:01,company,IND,-1,Mumbai,ipo,"Construction,Infrastructure","Other,Real Estate",0.0,0.000000e+00,0.000000e+00,-1,1/1/1989,-1,company,0.0
1048571,d8cf0714-01ed-4c28-9c0d-eca2ca133233,organization,6/6/2020 2:01,14/12/2020 10:39,company,IND,-1,Mumbai,ipo,"Chemical,Manufacturing,Pharmaceutical","Health Care,Manufacturing,Science and Engineering",0.0,0.000000e+00,0.000000e+00,-1,1/1/1984,-1,company,0.0
1048572,b4894426-32c8-47fe-8321-a84528357f60,organization,6/6/2020 2:01,6/6/2020 2:01,company,IND,-1,Mumbai,ipo,"Biotechnology,Health Care,Medical,Pharmaceutical","Biotechnology,Health Care,Science and Engineering",0.0,0.000000e+00,0.000000e+00,-1,1/1/1989,-1,company,0.0
1048573,5e8312d3-3a49-473b-96da-9e74a498b98e,organization,6/6/2020 2:01,6/6/2020 2:01,company,IND,-1,Kolkata,ipo,"Food and Beverage,Food Processing,Manufacturing","Food and Beverage,Manufacturing",0.0,0.000000e+00,0.000000e+00,-1,1/1/1973,-1,company,0.0
1048574,65e4866c-64be-49e4-b8fb-d53da1969917,organization,6/6/2020 2:01,6/6/2020 2:01,company,IND,-1,Mumbai,ipo,"Health Care,Management Consulting","Health Care,Professional Services",0.0,0.000000e+00,0.000000e+00,-1,1/1/2003,-1,company,0.0

In [6]:
df = df.reset_index(drop = True)
df['country_code'].value_counts()

USA    366519
-1     175077
GBR     74954
IND     45717
CAN     37429
        ...
TLS         1
MAF         1
PRK         1
GUF         1
TKM         1
Name: country_code, Length: 213, dtype: int64

In [7]:
def enconding(state):
    if state == "-1":
        value = -1
    elif state =="USA":
        value = 0
    elif state == "GBR":
        value = 1
    elif state == "IND":
        value = 2
    elif state == "CAN":
        value = 3
    elif state == "CHI":
        value = 4
    else :
        value = 5
    return value
df['country_code'] = df['country_code'].apply(lambda x:enconding(x))
df['state_code'].value_counts()

def enconding_sc(state):
    if state == "-1":
        value = -1
    elif state =="CA":
        value = 0
    elif state == "NY":
        value = 1
    elif state == "TX":
        value = 2
    elif state == "FL":
        value = 3
    elif state == "MD":
        value = 4
    elif state == "AZ":
        value = 5
    elif state == "MS":
        value = 6
    elif state == "NJ":
        value = 7
    elif state == "NM":
        value = 8
    elif state == "NC":
        value = 9
    elif state == "SC":
        value = 10
    elif state == "PA":
        value = 11
    elif state == "WA":
        value = 12
    else :
        value = 13
    return value

df['state_code'] = df['state_code'].apply(lambda x:enconding_sc(x))
df['roles'].value_counts()

company                    967735
investor                    40930
investor,company            14566
school                      13336
-1                           6252
company,investor             5038
company,school                304
investor,school               263
investor,company,school        79
school,company                 47
school,investor                23
company,investor,school         1
school,investor,company         1
Name: roles, dtype: int64

In [8]:
cleanup_nums = {"company": 0, "investor,company": 1, "company,investor": 1, "company,school": 2,\
                "school,company":2, "school,investor,company":3, "investor,company,school":3,\
                "company,investor,school":4, "investor,school":5, "school,investor":5, "investor":6}
df = df.replace(cleanup_nums)
df['status'].value_counts()

operating    886334
acquired      98183
closed        39207
ipo           24851
Name: status, dtype: int64

In [9]:
cleanup_nums = {"ipo": 0, "operating": 1, "acquired": 2, "closed": 3}
df = df.replace(cleanup_nums)
df['total_funding_currency_code'].value_counts()

-1     916524
USD     97482
EUR     14109
GBP      6286
CNY      5629
        ...
RSD         1
SKK         1
ETB         1
RWF         1
BGN         1
Name: total_funding_currency_code, Length: 64, dtype: int64

In [10]:
def enconding_cur(state):
    if state == "-1":
        value = -1
    elif state =="USD":
        value = 0
    elif state == "GBP":
        value = 1
    elif state == "EUR":
        value = 2
    elif state == "CNY":
        value = 3
    elif state == "JPY":
        value = 4
    elif state == "CHF":
        value = 5
    elif state == "AUD":
        value = 6
    elif state == "NZD":
        value = 7
    elif state == "MXN":
        value = 8
    elif state == "SGD":
        value = 9
    elif state == "SGD":
        value = 10
    else :
        value = 11
    return value
df['total_funding_currency_code'] = df['total_funding_currency_code'].apply(lambda x:enconding_cur(x))
df

,uuid,type,created_at,updated_at,roles,country_code,state_code,city,status,category_list,category_groups_list,num_funding_rounds,total_funding_usd,total_funding,total_funding_currency_code,founded_on,last_funding_on,primary_role,num_exits
0,e1393508-30ea-8a36-3f96-dd3226033abd,organization,25/5/2007 13:51,24/6/2019 22:19,0,0,1,New York,2,"Publishing,Social Media,Social Media Management","Content and Publishing,Internet Services,Media...",3.0,3.975000e+07,3.975000e+07,0,1/6/2005,19/5/2008,0,0.0
1,bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7,organization,26/5/2007 2:30,27/10/2018 0:29,1,0,0,Pleasanton,1,"Cloud Computing,Collaboration,CRM,Developer To...","Administrative Services,Information Technology...",0.0,0.000000e+00,0.000000e+00,11,15/9/1996,-1,0,1.0
2,5f2b40b8-d1b3-d323-d81a-b7a8e89553d0,organization,26/5/2007 3:03,10/12/2018 10:09,0,0,1,New York,2,"Internet,Social Media,Social Network","Internet Services,Media and Entertainment",6.0,4.900000e+07,4.900000e+07,0,11/10/2004,13/9/2016,0,0.0
3,f4d5ab44-058b-298b-ea81-380e6e9a8eec,organization,26/5/2007 3:21,19/6/2019 12:17,6,0,0,Redwood City,1,"Enterprise Software,Financial Services,Venture...","Financial Services,Lending and Investments,Sof...",0.0,0.000000e+00,0.000000e+00,11,1/1/2004,-1,6,37.0
4,df662812-7f97-0b43-9d3e-12f64f504fbb,organization,26/5/2007 4:22,21/10/2020 13:53,1,0,0,Menlo Park,0,"Mobile Apps,Social,Social Media,Social Network...","Apps,Community and Lifestyle,Content and Publi...",17.0,1.612282e+10,1.612282e+10,0,4/2/2004,17/10/2014,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,41105c7b-35ba-47ef-90ac-218beb506f37,organization,6/6/2020 2:01,6/6/2020 2:01,0,2,13,Mumbai,0,"Construction,Infrastructure","Other,Real Estate",0.0,0.000000e+00,0.000000e+00,11,1/1/1989,-1,0,0.0
1048571,d8cf0714-01ed-4c28-9c0d-eca2ca133233,organization,6/6/2020 2:01,14/12/2020 10:39,0,2,13,Mumbai,0,"Chemical,Manufacturing,Pharmaceutical","Health Care,Manufacturing,Science and Engineering",0.0,0.000000e+00,0.000000e+00,11,1/1/1984,-1,0,0.0
1048572,b4894426-32c8-47fe-8321-a84528357f60,organization,6/6/2020 2:01,6/6/2020 2:01,0,2,13,Mumbai,0,"Biotechnology,Health Care,Medical,Pharmaceutical","Biotechnology,Health Care,Science and Engineering",0.0,0.000000e+00,0.000000e+00,11,1/1/1989,-1,0,0.0
1048573,5e8312d3-3a49-473b-96da-9e74a498b98e,organization,6/6/2020 2:01,6/6/2020 2:01,0,2,13,Kolkata,0,"Food and Beverage,Food Processing,Manufacturing","Food and Beverage,Manufacturing",0.0,0.000000e+00,0.000000e+00,11,1/1/1973,-1,0,0.0
1048574,65e4866c-64be-49e4-b8fb-d53da1969917,organization,6/6/2020 2:01,6/6/2020 2:01,0,2,13,Mumbai,0,"Health Care,Management Consulting","Health Care,Professional Services",0.0,0.000000e+00,0.000000e+00,11,1/1/2003,-1,0,0.0

In [11]:
fintech_searchfor = ['Financial Services']
tech_searchfor = fintech_searchfor + ['Software', 'Hardware', 'Internet Services', 'Information Technology',\
     'Science and Engineering', 'Sustainability', 'Energy', 'Privacy and Security', 'Data and Analytics',\
     'Messaging and Telecommunications', 'Artificial Intelligence', 'Mobile', 'Platform', 'Biotechnology',\
     'Apps', 'Navigation and Mapping']
df.dropna(axis=0, how='any',inplace = True)
df = df.reset_index(drop = True)

df_fintech_category = df[df['category_groups_list'].str.contains('|'.join(fintech_searchfor))]
df_tech_category = df[df['category_groups_list'].str.contains('|'.join(tech_searchfor))]